@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Fauna+One&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.app {
  margin: auto;
}

img:not([src]) {
  visibility: none;
}

.overflow {
  overflow: hidden;
}

.fadeIn {
  animation: fade 1s ease;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
